[Desktop Entry]
Name=Jupyter Lab
Comment=Start Jupyter Lab server
Exec=jupyter notebook --port 8888
Icon=jupyter-lab
Type=Application
Categories=Development;
StartupNotify=true
StartupWMClass=jupyter-lab
Actions=open-browser

[Desktop Action open-browser]
Name=Open in browser
Exec=xdg-open http://localhost:8888/lab